<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>THE GAME OF THRONES QUOTES</title>
</head>

<body>
    <table>
        <caption><h1>CITAS DE GOT</h1></caption>
        <thead>
            <tr>

                <th>Nombre</th>
                <th>Cita</th>
                <th>Casa</th>
            </tr>
        </thead>
        <tbody>
            {%for detail in data %}
            
            <tr>
        
                <td>{{detail.character.name}}</td>
                <td style="text-align: center;">{{detail.sentence}}</td>
                <td style="text-align: center;">{{detail.character.house.name}}</td>
            </tr>
        
            {%endfor%}
        </tbody>
    </table> 
</body>

</html>